<a href="https://colab.research.google.com/github/Vimalqub/Vimalqub.github.io/blob/main/Aditi_Models_for_supply_chain.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Supply chain forecasting-sales prediction***

**Dataset** :  DataCo SMART SUPPLY CHAIN FOR BIG DATA ANALYSIS

Dataset link : https://www.kaggle.com/datasets/shashwatwork/dataco-smart-supply-chain-for-big-data-analysis

**Machine Learning and Statistical models for supply chain**

In [ ]:
! pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.5.13)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from kaggle) (2022.12.7)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.27.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.26.15)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.4)

In [ ]:
! mkdir ~/.kaggle

In [ ]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"aditiagrawal27","key":"22f8673a89da45cfef848fca082ebbfd"}'}

In [ ]:
! cp kaggle.json ~/.kaggle/

In [ ]:
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
! kaggle datasets list

In [ ]:
!kaggle datasets download -d shashwatwork/dataco-smart-supply-chain-for-big-data-analysis

Downloading dataco-smart-supply-chain-for-big-data-analysis.zip to /content
 78% 20.0M/25.7M [00:00<00:00, 51.1MB/s]
100% 25.7M/25.7M [00:00<00:00, 50.2MB/s]

In [ ]:
!unzip dataco-smart-supply-chain-for-big-data-analysis

Archive:  dataco-smart-supply-chain-for-big-data-analysis.zip
  inflating: DataCoSupplyChainDataset.csv
  inflating: DescriptionDataCoSupplyChain.csv
  inflating: tokenized_access_logs.csv

In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import GridSearchCV

In [ ]:
df=pd.read_csv("DataCoSupplyChainDataset.csv", encoding_errors="ignore")
df

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/15/2018 11:24,Standard Class
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,CASH,4,4,40.000000,399.980011,Shipping on time,0,45,Fishing,Brooklyn,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 3:40,Standard Class
180515,DEBIT,3,2,-613.770019,395.980011,Late delivery,1,45,Fishing,Bakersfield,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 1:34,Second Class
180516,TRANSFER,5,4,141.110001,391.980011,Late delivery,1,45,Fishing,Bristol,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 21:00,Standard Class
180517,PAYMENT,3,4,186.229996,387.980011,Advance shipping,0,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/18/2016 20:18,Standard Class
180518,PAYMENT,4,4,168.949997,383.980011,Shipping on time,0,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 18:54,Standard Class

**Data Preprocessing**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 53 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Sales per customer             180519 non-null  float64
 5   Delivery Status                180519 non-null  object
 6   Late_delivery_risk             180519 non-null  int64
 7   Category Id                    180519 non-null  int64
 8   Category Name                  180519 non-null  object
 9   Customer City                  180519 non-null  object
 10  Customer Country               180519 non-null  object
 11  Customer Email                 180519 non-null  object
 12  Customer Fname                 180519 non-null  object
 13  Customer Id                    180519 non-null  int64
 14  Customer Lname                 180511 non-null  object
 15  Customer Password              180519 non-null  object
 16  Customer Segment               180519 non-null  object
 17  Customer State                 180519 non-null  object
 18  Customer Street                180519 non-null  object
 19  Customer Zipcode               180516 non-null  float64
 20  Department Id                  180519 non-null  int64
 21  Department Name                180519 non-null  object
 22  Latitude                       180519 non-null  float64
 23  Longitude                      180519 non-null  float64
 24  Market                         180519 non-null  object
 25  Order City                     180519 non-null  object
 26  Order Country                  180519 non-null  object
 27  Order Customer Id              180519 non-null  int64
 28  order date (DateOrders)        180519 non-null  object
 29  Order Id                       180519 non-null  int64
 30  Order Item Cardprod Id         180519 non-null  int64
 31  Order Item Discount            180519 non-null  float64
 32  Order Item Discount Rate       180519 non-null  float64
 33  Order Item Id                  180519 non-null  int64
 34  Order Item Product Price       180519 non-null  float64
 35  Order Item Profit Ratio        180519 non-null  float64
 36  Order Item Quantity            180519 non-null  int64
 37  Sales                          180519 non-null  float64
 38  Order Item Total               180519 non-null  float64
 39  Order Profit Per Order         180519 non-null  float64
 40  Order Region                   180519 non-null  object
 41  Order State                    180519 non-null  object
 42  Order Status                   180519 non-null  object
 43  Order Zipcode                  24840 non-null   float64
 44  Product Card Id                180519 non-null  int64
 45  Product Category Id            180519 non-null  int64
 46  Product Description            0 non-null       float64
 47  Product Image                  180519 non-null  object
 48  Product Name                   180519 non-null  object
 49  Product Price                  180519 non-null  float64
 50  Product Status                 180519 non-null  int64
 51  shipping date (DateOrders)     180519 non-null  object
 52  Shipping Mode                  180519 non-null  object
dtypes: float64(15), int64(14), object(24)
memory usage: 73.0+ MB

In [ ]:
# Handling missing values
# Handling data types
# Handling categorical variables
# Handling outliers

In [ ]:
df.describe()

,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Late_delivery_risk,Category Id,Customer Id,Customer Zipcode,Department Id,Latitude,...,Order Item Quantity,Sales,Order Item Total,Order Profit Per Order,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Price,Product Status
count,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180516.000000,180519.000000,180519.000000,...,180519.000000,180519.000000,180519.000000,180519.000000,24840.000000,180519.000000,180519.000000,0.0,180519.000000,180519.0
mean,3.497654,2.931847,21.974989,183.107609,0.548291,31.851451,6691.379495,35921.126914,5.443460,29.719955,...,2.127638,203.772096,183.107609,21.974989,55426.132327,692.509764,31.851451,NaN,141.232550,0.0
std,1.623722,1.374449,104.433526,120.043670,0.497664,15.640064,4162.918106,37542.461122,1.629246,9.813646,...,1.453451,132.273077,120.043670,104.433526,31919.279101,336.446807,15.640064,NaN,139.732492,0.0
min,0.000000,0.000000,-4274.979980,7.490000,0.000000,2.000000,1.000000,603.000000,2.000000,-33.937553,...,1.000000,9.990000,7.490000,-4274.979980,1040.000000,19.000000,2.000000,NaN,9.990000,0.0
25%,2.000000,2.000000,7.000000,104.379997,0.000000,18.000000,3258.500000,725.000000,4.000000,18.265432,...,1.000000,119.980003,104.379997,7.000000,23464.000000,403.000000,18.000000,NaN,50.000000,0.0
50%,3.000000,4.000000,31.520000,163.990005,1.000000,29.000000,6457.000000,19380.000000,5.000000,33.144863,...,1.000000,199.919998,163.990005,31.520000,59405.000000,627.000000,29.000000,NaN,59.990002,0.0
75%,5.000000,4.000000,64.800003,247.399994,1.000000,45.000000,9779.000000,78207.000000,7.000000,39.279617,...,3.000000,299.950012,247.399994,64.800003,90008.000000,1004.000000,45.000000,NaN,199.990005,0.0
max,6.000000,4.000000,911.799988,1939.989990,1.000000,76.000000,20757.000000,99205.000000,12.000000,48.781933,...,5.000000,1999.989990,1939.989990,911.799988,99301.000000,1363.000000,76.000000,NaN,1999.989990,0.0

In [ ]:
df.isna().sum()

Type                                  0
Days for shipping (real)              0
Days for shipment (scheduled)         0
Benefit per order                     0
Sales per customer                    0
Delivery Status                       0
Late_delivery_risk                    0
Category Id                           0
Category Name                         0
Customer City                         0
Customer Country                      0
Customer Email                        0
Customer Fname                        0
Customer Id                           0
Customer Lname                        8
Customer Password                     0
Customer Segment                      0
Customer State                        0
Customer Street                       0
Customer Zipcode                      3
Department Id                         0
Department Name                       0
Latitude                              0
Longitude                             0
Market                                0
Order City                            0
Order Country                         0
Order Customer Id                     0
order date (DateOrders)               0
Order Id                              0
Order Item Cardprod Id                0
Order Item Discount                   0
Order Item Discount Rate              0
Order Item Id                         0
Order Item Product Price              0
Order Item Profit Ratio               0
Order Item Quantity                   0
Sales                                 0
Order Item Total                      0
Order Profit Per Order                0
Order Region                          0
Order State                           0
Order Status                          0
Order Zipcode                    155679
Product Card Id                       0
Product Category Id                   0
Product Description              180519
Product Image                         0
Product Name                          0
Product Price                         0
Product Status                        0
shipping date (DateOrders)            0
Shipping Mode                         0
dtype: int64

In [ ]:
df.drop(["Customer Email","Customer Password","Product Image","Customer Fname","Customer Fname"],axis=1,inplace=True)

In [ ]:
df.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Status,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,COMPLETE,NaN,1360,73,NaN,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,PENDING,NaN,1360,73,NaN,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,CLOSED,NaN,1360,73,NaN,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,COMPLETE,NaN,1360,73,NaN,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,PENDING_PAYMENT,NaN,1360,73,NaN,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [ ]:
df['Order Zipcode'].fillna(0, inplace=True)
df['Product Description'].fillna(0, inplace=True)

In [ ]:
df.rename(columns={"Type":"Type Of Payments"},inplace=True)

In [ ]:
df.info()

Sales per year,month and day date

In [ ]:
df['year'] = df['order date (DateOrders)'].apply(lambda x: x.split('/')[-1].split(' ')[0])

In [ ]:
df['month'] = df['order date (DateOrders)'].apply(lambda x: x.split('/')[0].split(' ')[0])

In [ ]:
df['day date'] = df['order date (DateOrders)'].apply(lambda x: x.split('/')[1].split(' ')[0])

**Data Modeling**

Encoding label

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le=LabelEncoder()
def Labelencoder_feature(x):
    le=LabelEncoder()
    x=le.fit_transform(x)
    return x

Forcasting sales of different product

In [ ]:
data_sales=df[['Type Of Payments','Benefit per order', 'Sales per customer', 'Delivery Status','Late_delivery_risk', 
             'Category Name', 'Customer City','Customer Country','Customer Id','Customer Segment',
             'Customer State', 'Customer Zipcode','Department Name', 'Latitude', 'Longitude', 'Market',
             'Order City', 'Order Country', 'Order Customer Id','order date (DateOrders)', 'Order Id', 
             'Order Item Cardprod Id','Order Item Discount', 'Order Item Discount Rate', 'Order Item Id',
             'Order Item Product Price', 'Order Item Profit Ratio','Order Item Quantity', 'Sales', 
             'Order Item Total','Order Profit Per Order', 'Order Region', 'Order State', 'Order Status',
             'Order Zipcode', 'Product Card Id', 'Product Category Id','Product Description', 
             'Product Name', 'Product Price','Product Status', 'shipping date (DateOrders)', 'Shipping Mode']]

In [ ]:
features=data_sales.drop(columns=['Sales', 'Order Item Quantity', 'Order Item Product Price'])
target=data_sales['Sales'].astype(str)

In [ ]:
features=features.apply(Labelencoder_feature)
features.head()

,Type Of Payments,Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Name,Customer City,Customer Country,Customer Id,Customer Segment,...,Order Status,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,1,18934,2568,0,0,40,66,1,20649,0,...,2,0,114,47,0,78,62,0,27149,3
1,3,2272,2559,1,1,40,66,1,19386,0,...,5,0,114,47,0,78,62,0,2209,3
2,0,2293,2555,3,0,40,452,0,19385,0,...,1,0,114,47,0,78,62,0,1980,3
3,1,13638,2546,0,0,40,285,0,19384,2,...,2,0,114,47,0,78,62,0,1752,3
4,2,20599,2526,0,0,40,66,1,19383,1,...,6,0,114,47,0,78,62,0,1528,3

In [ ]:
final_features=features[['Benefit per order', 'Sales per customer', 'Category Name',
       'Customer Id', 'Customer Segment', 'Department Name', 'Market',
       'Order City', 'Order Customer Id', 'order date (DateOrders)',
       'Order Id', 'Order Item Cardprod Id', 'Order Item Discount',
       'Order Item Id', 'Order Item Total', 'Order Profit Per Order',
       'Order Region', 'Order State', 'Order Zipcode', 'Product Card Id',
       'Product Category Id', 'Product Name', 'Product Price',
       'shipping date (DateOrders)']]

In [ ]:
final_features

,Benefit per order,Sales per customer,Category Name,Customer Id,Customer Segment,Department Name,Market,Order City,Order Customer Id,order date (DateOrders),...,Order Item Total,Order Profit Per Order,Order Region,Order State,Order Zipcode,Product Card Id,Product Category Id,Product Name,Product Price,shipping date (DateOrders)
0,18934,2568,40,20649,0,4,3,332,20649,5961,...,2568,18934,15,475,0,114,47,78,62,27149
1,2272,2559,40,19386,0,4,3,392,19386,1147,...,2559,2272,13,841,0,114,47,78,62,2209
2,2293,2555,40,19385,0,4,3,392,19385,1146,...,2555,2293,13,841,0,114,47,78,62,1980
3,13638,2546,40,19384,2,4,3,3226,19384,1145,...,2546,13638,11,835,0,114,47,78,62,1752
4,20599,2526,40,19383,1,4,3,3226,19383,1144,...,2526,20599,11,835,0,114,47,78,62,1528
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,15208,2752,18,992,2,3,3,2921,992,1774,...,2752,15208,7,914,0,96,30,24,66,2733
180515,422,2743,18,9066,1,3,3,1362,9066,1758,...,2743,422,7,770,0,96,30,24,66,2339
180516,20768,2734,18,288,1,3,3,25,288,1526,...,2734,20768,11,88,0,96,30,24,66,2727
180517,21463,2725,18,2781,0,3,3,25,2781,1524,...,2725,21463,11,88,0,96,30,24,66,2114
180518,21263,2716,18,7486,0,3,3,2202,7486,1517,...,2716,21263,13,967,0,96,30,24,66,2334

In [ ]:
final_data=pd.concat([final_features,target],axis=1)
final_data.columns

Index(['Benefit per order', 'Sales per customer', 'Category Name',
       'Customer Id', 'Customer Segment', 'Department Name', 'Market',
       'Order City', 'Order Customer Id', 'order date (DateOrders)',
       'Order Id', 'Order Item Cardprod Id', 'Order Item Discount',
       'Order Item Id', 'Order Item Total', 'Order Profit Per Order',
       'Order Region', 'Order State', 'Order Zipcode', 'Product Card Id',
       'Product Category Id', 'Product Name', 'Product Price',
       'shipping date (DateOrders)', 'Sales'],
      dtype='object')

In [ ]:
fig=plt.figure(figsize=(20,10))
sns.heatmap(final_data.corr(),annot=True,fmt=".3f",cmap="BuPu")

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn import *
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import confusion_matrix
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.linear_model import Lasso
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import Ridge
from sklearn.preprocessing import *
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import svm
from sklearn.naive_bayes import GaussianNB  
from sklearn.neighbors import KNeighborsClassifier
import pickle

***Linear Regression model***

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(final_features,target,test_size=0.3)

X_train
y_train

112599    249.8999939
151009     399.980011
48827     293.0400085
138032     399.980011
64344      299.980011
             ...
54866     199.9900055
149453          100.0
179641     399.980011
101983    199.9900055
179789     399.980011
Name: Sales, Length: 126363, dtype: object

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(final_features,target,test_size=0.3)

In [ ]:
from sklearn.linear_model import LinearRegression

# Create a linear regression model object
linReg = LinearRegression()

# Fit the model to the training data
linReg.fit(X_train, y_train)

# Use the model to make predictions on the test set
y_pred = linReg.predict(X_test)

In [ ]:
ln_score=r2_score(y_test,y_pred)
print("r2 score is:" ,ln_score)
print("mean_sqrd_error is",mean_squared_error(y_test,y_pred))
print("root_mean_squared error of is",np.sqrt(mean_squared_error(y_test,y_pred)))

r2 score is: 0.7939474443973374
mean_sqrd_error is 3598.2069046947913
root_mean_squared error of is 59.985055678016934

In [ ]:
lin_train_predict = pd.DataFrame({'actual' : y_train,
                                 'predicted' : linReg.predict(X_train)})
lin_train_predict.head(10)

             actual   predicted
145041  99.95999908   89.734147
60478    299.980011  336.155498
112112  149.9400024  158.657487
168779        150.0  162.865713
76436   199.9900055  211.241307
140968        200.0  220.721527
141064  299.9500122  268.787894
81658   299.9500122  266.137783
12305         250.0  251.140996
15827         250.0  246.518627

***Lasso***

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(final_features,target,test_size=0.3)

In [ ]:
lasReg=Lasso()
lasmodel=lasReg.fit(X_train,y_train)

In [ ]:
y_prediction =lasReg.predict(X_test)
y_prediction

array([350.99119828, 134.15613882,  95.54533275, ..., 255.51343739,
       341.98154575, 127.80485056])

In [ ]:
ls_score=r2_score(y_test,y_prediction)
print("r2 socre is:" ,ls_score)
print("mean_sqrd_error is",mean_squared_error(y_test,y_prediction))
print("root_mean_squared error of is",np.sqrt(mean_squared_error(y_test,y_prediction)))

r2 socre is: 0.8001623651778998
mean_sqrd_error is 3450.8604254460956
root_mean_squared error of is 58.744024593537134

Ridge regression

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(final_features,target,test_size=0.3)

In [ ]:
ridReg=Ridge()
ridmodel=ridReg.fit(X_train,y_train)

In [ ]:
y_prediction =ridReg.predict(X_test)
y_prediction

array([202.94966522, 333.44996851, 370.59554158, ...,  28.29585323,
       241.26585184, 109.85625955])

In [ ]:
rd_score=r2_score(y_test,y_prediction)
print("r2 socre is:" ,rd_score)
print("mean_sqrd_error is",mean_squared_error(y_test,y_prediction))
print("root_mean_squared error of is",np.sqrt(mean_squared_error(y_test,y_prediction)))

r2 socre is: 0.7855568830715851
mean_sqrd_error is 3880.4896790450553
root_mean_squared error of is 62.2935765472256

***KNN***

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(final_features,target,test_size=0.3)

In [ ]:
knncls=KNeighborsClassifier(n_neighbors=7)
knncls.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=7)

In [ ]:
y_prediction =knncls.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
knn_score=r2_score(y_test,y_prediction)
print("r2 score is:" ,knn_score)
print("mean_sqrd_error is",mean_squared_error(y_test,y_prediction))
print("root_mean_squared error of is",np.sqrt(mean_squared_error(y_test,y_prediction)))
accuracy = accuracy_score(y_test, y_prediction)
print("Accuracy:", accuracy)

r2 score is: 0.5528145041521373
mean_sqrd_error is 7688.224190693933
root_mean_squared error of is 87.6825192994244
Accuracy: 0.21061378240638157

***Naive bayes***

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(final_features,target,test_size=0.3)

In [ ]:
sc=StandardScaler()

In [ ]:
x_scaler=sc.fit_transform(final_features)

In [ ]:
pipe=Pipeline(steps=[("sc",sc),("Guaasinnb", GaussianNB())])

In [ ]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('sc', StandardScaler()), ('Guaasinnb', GaussianNB())])

In [ ]:
gu_Score=pipe.score(X_test, y_test)
gu_Score

0.9131767486520422

***SVM***

In [ ]:
# X_train,X_test,y_train,y_test=train_test_split(final_features,target,test_size=0.3)

In [ ]:
# from sklearn.svm import SVC
# from sklearn.metrics import accuracy_score
# model = SVC(kernel='linear', C=1, gamma='auto')

# # Train the SVM model on the training set
# model.fit(X_train, y_train)

# # Predict the classes of the test set
# y_pred = model.predict(X_test)

# # Calculate the accuracy of the model
# accuracy = accuracy_score(y_test, y_pred)

# # Print the accuracy score
# print("Accuracy:", accuracy)

In [ ]:
# svc_score=r2_score(y_test,y_pred)
# print("r2 score is:" ,svc_score)
# print("mean_sqrd_error is",mean_squared_error(y_test,y_pred))
# print("root_mean_squared error of is",np.sqrt(mean_squared_error(y_test,y_pred)))

**GRADIENT BOOST**

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(final_features,target,test_size=0.3)

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
# Fit Gradient Boosting Regression model
gbr = GradientBoostingRegressor(n_estimators=100, max_depth=4, learning_rate=0.1)
gbr.fit(X_train, y_train)

# Predict the target variable on the test set
y_pred = gbr.predict(X_test)

# Calculate the mean squared error of the predictions
mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error:', mse)

Mean Squared Error: 4.7938180483089

In [ ]:
gb_score=r2_score(y_test,y_pred)
print("r2 score is:" ,gb_score)
print("mean_sqrd_error is",mean_squared_error(y_test,y_pred))
print("root_mean_squared error of is",np.sqrt(mean_squared_error(y_test,y_pred)))

r2 score is: 0.9997239015945465
mean_sqrd_error is 4.7938180483089
root_mean_squared error of is 2.1894789444771785

***Decison tree***

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(final_features,target,test_size=0.3)

In [ ]:
from sklearn.tree import DecisionTreeRegressor
# Create a decision tree regressor object
dt = DecisionTreeRegressor()

# Train the model on the training data
dt.fit(X_train, y_train)

# Make predictions on the test data
y_pred = dt.predict(X_test)

# Calculate the mean squared error of the model
mse = mean_squared_error(y_test, y_pred)

print("Mean Squared Error: ", mse)

Mean Squared Error:  5.654377712806246

In [ ]:
dt_score=r2_score(y_test,y_pred)
print("r2 score is:" ,dt_score)
print("root_mean_squared error of is",np.sqrt(mean_squared_error(y_test,y_pred)))

r2 score is: 0.9996785051516897
root_mean_squared error of is 2.3778935453056445

***Random Forest***

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(final_features,target,test_size=0.3)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
# create random forest regressor model
rf = RandomForestRegressor(n_estimators=100, max_depth=10, random_state=42)

# fit model to training data
rf.fit(X_train, y_train)

# make predictions on test data
y_pred = rf.predict(X_test)

# calculate mean squared error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 7.608117649073646

In [ ]:
rf_score=r2_score(y_test,y_pred)
print("r2 score is:" ,rf_score)
print("root_mean_squared error of is",np.sqrt(mean_squared_error(y_test,y_pred)))

r2 score is: 0.999571780750158
root_mean_squared error of is 2.75828164788762

***LSTM***

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from keras.models import Sequential
from keras.layers import LSTM, Dense


# Preprocess data
scaler = MinMaxScaler(feature_range=(0, 1))
scaled_data = scaler.fit_transform(final_data)

# Split the data into features and target
X = scaled_data[:, :-1]
y = scaled_data[:, -1]

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Reshape input to be [samples, time steps, features]
X_train = np.reshape(X_train, (X_train.shape[0], 1, X_train.shape[1]))
X_test = np.reshape(X_test, (X_test.shape[0], 1, X_test.shape[1]))

# Define the LSTM model
model = Sequential()
model.add(LSTM(50, return_sequences=True, input_shape=(1, X_train.shape[2])))
model.add(LSTM(50, return_sequences=True))
model.add(LSTM(50))
model.add(Dense(1))
model.compile(loss='mean_squared_error', optimizer='adam')

# Train the model
model.fit(X_train, y_train, epochs=10, batch_size=32, verbose=1)

# Make predictions
y_pred = model.predict(X_test)

# Calculate evaluation metrics
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error: ", mse)
print("R2 Score: ", r2)

Epoch 1/10
4513/4513 [==============================] - 40s 7ms/step - loss: 4.0809e-04
Epoch 2/10
4513/4513 [==============================] - 34s 8ms/step - loss: 1.3716e-04
Epoch 3/10
4513/4513 [==============================] - 35s 8ms/step - loss: 9.0101e-05
Epoch 4/10
4513/4513 [==============================] - 33s 7ms/step - loss: 7.2311e-05
Epoch 5/10
4513/4513 [==============================] - 24s 5ms/step - loss: 4.4791e-05
Epoch 6/10
4513/4513 [==============================] - 29s 6ms/step - loss: 3.8768e-05
Epoch 7/10
4513/4513 [==============================] - 30s 7ms/step - loss: 3.7278e-05
Epoch 8/10
4513/4513 [==============================] - 27s 6ms/step - loss: 3.5002e-05
Epoch 9/10
4513/4513 [==============================] - 35s 8ms/step - loss: 3.3660e-05
Epoch 10/10
4513/4513 [==============================] - 37s 8ms/step - loss: 2.8549e-05
1129/1129 [==============================] - 4s 3ms/step
Mean Squared Error:  0.0004694455186692389
R2 Score:  0.892794155762691

***GRU***

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from keras.models import Sequential
from keras.layers import GRU, Dense, Dropout



# Preprocess the data
scaler = MinMaxScaler(feature_range=(0, 1))
scaled_data = scaler.fit_transform(final_data)

# Split the data into features and target
X = scaled_data[:, :-1]
y = scaled_data[:, -1]

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Reshape input to be [samples, time steps, features]
X_train = np.reshape(X_train, (X_train.shape[0], 1, X_train.shape[1]))
X_test = np.reshape(X_test, (X_test.shape[0], 1, X_test.shape[1]))

# Define the GRU model
model = Sequential()
model.add(GRU(128, input_shape=(1, X_train.shape[2]), return_sequences=True))
model.add(Dropout(0.2))
model.add(GRU(64))
model.add(Dropout(0.2))
model.add(Dense(32))
model.add(Dense(1))
model.compile(loss='mean_squared_error', optimizer='adam')

# Train the model
model.fit(X_train, y_train, epochs=20, batch_size=32, verbose=1)

# Make predictions
y_pred = model.predict(X_test)
# Calculate evaluation metrics
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error: ", mse)
print("R2 Score: ", r2)

Epoch 1/20
4513/4513 [==============================] - 31s 6ms/step - loss: 7.4409e-04
Epoch 2/20
4513/4513 [==============================] - 27s 6ms/step - loss: 2.7675e-04
Epoch 3/20
4513/4513 [==============================] - 24s 5ms/step - loss: 2.1338e-04
Epoch 4/20
4513/4513 [==============================] - 28s 6ms/step - loss: 1.7141e-04
Epoch 5/20
4513/4513 [==============================] - 35s 8ms/step - loss: 1.4560e-04
Epoch 6/20
4513/4513 [==============================] - 34s 7ms/step - loss: 1.2836e-04
Epoch 7/20
4513/4513 [==============================] - 40s 9ms/step - loss: 1.2280e-04
Epoch 8/20
4513/4513 [==============================] - 39s 9ms/step - loss: 1.0257e-04
Epoch 9/20
4513/4513 [==============================] - 39s 9ms/step - loss: 9.1604e-05
Epoch 10/20
4513/4513 [==============================] - 30s 7ms/step - loss: 9.4959e-05
Epoch 11/20
4513/4513 [==============================] - 24s 5ms/step - loss: 8.4392e-05
Epoch 12/20
4513/4513 [==============================] - 26s 6ms/step - loss: 8.1916e-05
Epoch 13/20
4513/4513 [==============================] - 24s 5ms/step - loss: 8.2914e-05
Epoch 14/20
4513/4513 [==============================] - 24s 5ms/step - loss: 8.2023e-05
Epoch 15/20
4513/4513 [==============================] - 23s 5ms/step - loss: 7.1521e-05
Epoch 16/20
4513/4513 [==============================] - 23s 5ms/step - loss: 7.5646e-05
Epoch 17/20
4513/4513 [==============================] - 24s 5ms/step - loss: 6.8485e-05
Epoch 18/20
4513/4513 [==============================] - 23s 5ms/step - loss: 6.8481e-05
Epoch 19/20
4513/4513 [==============================] - 24s 5ms/step - loss: 7.2355e-05
Epoch 20/20
4513/4513 [==============================] - 24s 5ms/step - loss: 7.3590e-05
1129/1129 [==============================] - 3s 2ms/step
Mean Squared Error:  2.5357014073506044e-05
R2 Score:  0.9942092958757097

***Multilayer Perceptron model***

In [ ]:
from sklearn.neural_network import MLPRegressor

# Multilayer Perceptron model
X_train,X_test,y_train,y_test=train_test_split(final_features,target,test_size=0.2)

mlpReg = MLPRegressor(hidden_layer_sizes=(100,50,), activation='relu', solver='adam', max_iter=2000)
mlpmodel = mlpReg.fit(X_train, y_train)

y_prediction = mlpReg.predict(X_test)

mlp_score = r2_score(y_test, y_prediction)
print("r2 score is:", mlp_score)
print("mean squared error is:", mean_squared_error(y_test, y_prediction))
print("root mean squared error is:", np.sqrt(mean_squared_error(y_test, y_prediction)))

r2 score is: 0.7375595821101532
mean squared error is: 4582.9667034577515
root mean squared error is: 67.69761224340007

***Ordinary Least Squares (OLS)***

In [ ]:
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
import numpy as np

# Convert Sales column to float type
final_data['Sales'] = final_data['Sales'].astype(float)
y = final_data['Sales']

# Split the data into training and testing sets
X_train,X_test,y_train,y_test=train_test_split(final_features,y,test_size=0.2)

# Add constant to the features matrix
X_train = sm.add_constant(X_train)
X_test = sm.add_constant(X_test)

# Create the OLS model
model = sm.OLS(y_train, X_train)

# Fit the OLS model
results = model.fit()

# Make predictions on the testing set
y_prediction = results.predict(X_test)

# Calculate evaluation metrics
r2_score = r2_score(y_test, y_prediction)
mean_squared_error = mean_squared_error(y_test, y_prediction)
root_mean_squared_error = np.sqrt(mean_squared_error)

# Print the summary statistics and evaluation metrics of the model
# print(results.summary())
print("r2 score is:", r2_score)
print("mean squared error is:", mean_squared_error)
print("root mean squared error is:", root_mean_squared_error)

r2 score is: 0.8101617562700599
mean squared error is: 3235.8282734944537
root mean squared error is: 56.884341197683334

***T-test***

In [ ]:
import statsmodels.api as sm
import scipy.stats as stats
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(final_data[['Sales', 'Product Price']], final_data['Sales'], test_size=0.2, random_state=42)

# Perform T-test
t_test = stats.ttest_ind(X_train['Sales'], X_train['Product Price'])

# Fit linear regression model to training data
model = sm.OLS(y_train, X_train).fit()

# Make predictions on test data
y_pred = model.predict(X_test)

# Calculate r2 score
r2 = r2_score(y_test, y_pred)

# Calculate mean squared error
mse = mean_squared_error(y_test, y_pred)

# Calculate root mean squared error
rmse = np.sqrt(mse)

# Display T-test result, r2 score, mean squared error, and root mean squared error
print('T-test:', t_test)
print('r2 score:', r2)
print('mean squared error:', mse)
print('root mean squared error:', rmse)
print('Actual vs predicted values:')

T-test: Ttest_indResult(statistic=476.1624141755001, pvalue=0.0)
r2 score: 1.0
mean squared error: 1.4954492852230934e-24
root mean squared error: 1.2228856386527293e-12
Actual vs predicted values:

***Chi-square test***

In [ ]:
import numpy as np
import pandas as pd
import scipy.stats as stats
from sklearn.metrics import classification_report, accuracy_score


# Create cross-tabulation table of Sales and Product Price
observed = pd.crosstab(final_data['Sales'], final_data['Product Price'])

# Perform chi-square test of independence
chi2, p_value, dof, expected = stats.chi2_contingency(observed)

# Display chi-square test results
print('Chi-Square test statistic:', chi2)
print('p-value:', p_value)
print('Degrees of freedom:', dof)

# Predict Sales using Product Price as a feature
y_true = final_data['Sales']
y_pred = final_data['Product Price'] > final_data['Product Price'].mean()

# Convert y_true into binary values
threshold = final_data['Sales'].mean()
y_true = (y_true > threshold).astype(int)

# Compute classification report and accuracy score
report = classification_report(y_true, y_pred)
accuracy = accuracy_score(y_true, y_pred)

# Display performance evaluation metrics
print('Classification report:')
print(report)
print('Accuracy score:', accuracy)

Chi-Square test statistic: 12928717.6510641
p-value: 0.0
Degrees of freedom: 14208
Classification report:
              precision    recall  f1-score   support

           0       0.74      0.66      0.70    116975
           1       0.48      0.58      0.53     63544

    accuracy                           0.63    180519
   macro avg       0.61      0.62      0.61    180519
weighted avg       0.65      0.63      0.64    180519

Accuracy score: 0.6337670826893568

***Kruskal-Wallis test***

In [ ]:
import numpy as np
import pandas as pd
import scipy.stats as stats
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error

# Split the data into training and testing sets
X = final_data['Product Price'].values.reshape(-1, 1)
y = final_data['Sales'].values.reshape(-1, 1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Train a linear regression model
reg = LinearRegression().fit(X_train, y_train)

# Evaluate the model on the testing set
y_pred = reg.predict(X_test)
r2 = r2_score(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

# Display the evaluation metrics
print('R2 score:', r2)
print('Mean squared error:', mse)
print('Root mean squared error:', rmse)